<div class="row text-center">
  <h1>TeamUP</h1>
</div>
<div class="row">
  <h3><%= link_to 'Create New Teams', new_user_set_path %></h3>
</div>

<div class="row text-center">
  <h2>Sets of Teams</h2>
</div>

<div class "row text-center">
  <% @user_sets.each do |user_set| %>
  <%=  link_to user_set.topic, user_set_path(user_set.id) %>
  <% end %>
</div>
